<style>
  .selectize-control > .selectize-dropdown {
    top: 36px;
  }
</style>
<div ng-app="demo" ng-controller="MainCtrl">

  <p>Selected: {{person.selected.name}}</p>

  <p>Select2 theme (default):</p>
  <ui-select ng-model="person.selected" style="width: 300px;">
    <match placeholder="Select or search a person in the list...">{{$select.selected.name}}</match>
    <choices data="people | filter: $select.search">
      <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
      <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
    </choices>
  </ui-select>

  <p>Selectize theme:</p>
  <ui-select ng-model="person.selected" theme="selectize" style="width: 300px;">
  <match placeholder="Select or search a person in the list...">{{$select.selected.name}}</match>
  <choices data="people | filter: $select.search">
    <div ng-bind-html="trustAsHtml((item.name | highlight: $select.search))"></div>
    <small ng-bind-html="trustAsHtml((item.email | highlight: $select.search))"></small>
  </choices>
  </ui-select>
</div>
